* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#invitacion{
    border: 3px #000000 solid;
    width: 500px;
    background-color: #F0EDE2;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    color: orange;
    background-color: black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* Demonstration Purposes only */
}

h2{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
}

p{
    padding-left: 30px;
    padding-right: 30px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

